[Unit]
Description=Dropbear SSH Daemon (Multi-Port)
Documentation=man:dropbear(8)
After=network.target

[Service]
ExecStartPre=/bin/mkdir -p /run/dropbear
ExecStart=/usr/sbin/dropbear -F -E \
  -p 127.0.0.1:2083 \
  -p 0.0.0.0:444 \
  -p 0.0.0.0:8080 \
  -p 0.0.0.0:8880 \
  -p 0.0.0.0:2052 \
  -p 0.0.0.0:2095 \
  -w \
  -s \
  -r /etc/dropbear/dropbear_ecdsa_host_key \
  -r /etc/dropbear/dropbear_ed25519_host_key \
  -r /etc/dropbear/dropbear_rsa_host_key
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
RestartSec=5s
Type=simple

[Install]
WantedBy=multi-user.target
